@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --light-gray: hsl(0, 0%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: "Karla", sans-serif;
    /* background-color: #444; */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.5;
}
/* Utility classes */
.container{
    max-width: 1200px; 
    margin: auto; 
    padding: 0 2rem;
}

.line{
    width: 140px;
    height: 1px;
    background-color: var(--light-gray);
}
.btn-primary{
    padding: 8px 24px ;
    font-size: 14px;
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
    transition: all 0.3s ease;
}
.btn-primary:hover{
    background-color: var(--light-gray);
    color: var(--dark-violet);
}
/* NAVBAR START */
#navbar{
    background-color: var(--light-gray);
    position: relative;
}
#navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1200px;
    /* background-color: wheat; */
    margin: auto;
    padding: 0 2rem;
    position: relative;

}
#navbar nav ul{
    display: flex;
}

#navbar nav ul li a{
    margin-left: 20px;
    color: var(--dark-grayish-violet);
    font-weight: 600;
    transition: all 0.3s ease;
}
#navbar nav ul li a:hover{
    color: var(--dark-violet);
}
#navbar nav ul li:last-child a{
    padding: 8px 20px;
    border: 1px solid var(--dark-violet);
    color: var(--dark-violet);
}
#navbar nav ul li:last-child a:hover{
    background-color: var(--dark-violet);
    color: var(--light-gray);
    transition: all 0.3s ease;
}
.humburger{
    cursor: pointer;
    display: none;
    position: absolute;
    right: 2rem;
}
/* NAVBAR END */
/* HOME START */
#home{
    background-color: var(--dark-violet);
    height: 85vh;
    position: relative;
}
#home .home-content{
    display: flex;
    padding-top: 6rem;
    gap: 3rem;
    color: var(--light-gray);
}
#home .home-content h1{
    font-size: 75px;
    font-family: "DM Serif Display", serif; 
    margin-top: 3rem;
    line-height: 1;
    font-weight: 400;

}
#home .home-content p{
    margin: 20px 0;
}
#home::before{
    content: "";
    position: absolute;
    top: 23rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/bg-pattern-intro-left-desktop.svg) no-repeat;
}

#home::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background: url(images/bg-pattern-intro-right-desktop.svg) no-repeat;
}
/* HOME END */
/* HOW WE WORK START */
#how-we-work{
    margin-top: 16rem;
}
#how-we-work .line{
    background-color: var(--dark-violet);
}
#how-we-work h2{
    font-size: 65px;
    font-weight: 400;
    font-family: "DM Serif Display", serif; 
    color: var(--dark-violet);
}
#how-we-work .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 0;
    gap: 1.5rem;
}
#how-we-work .row .item h3{
    margin: 15px 0;
    font-family: "DM Serif Display", serif;
    font-size: 28px;
    font-weight: 400;
}
/* HOW WE WORK END */
/* CARD START */
#card{
    margin: 4rem 0;
}
#card .row{
    background-color: var(--dark-violet);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
    position: relative;
    z-index: 0;
}
#card .row::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: url(images/bg-pattern-intro-right-desktop.svg);
    z-index: -1;
}
#card .row h2{
    color: var(--light-gray);
    font-family: "DM Serif Display", serif;
    font-size: 45px;
    font-weight: 400;
}
/* CARD END */
/* FOOTER START */
#footer{
    background-color: var(--light-gray);
    padding: 3rem 0;
    position: relative;
    z-index: 0;
}
#footer .footer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark-grayish-violet);
    padding-bottom: 20px;
}
#footer .footer-header ul{
    display: flex;
    
}
#footer .footer-header ul li a{
    margin: 0 8px;
}
#footer .footer-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 2rem;
}
#footer .footer-row .col h2{
    font-size: 18px;
    color: var(--dark-grayish-violet);
    padding-bottom: 1rem;
}
#footer .footer-row .col ul li{
    margin: 15px 0;
}
#footer .footer-row .col ul li a{
    color: var(--dark-violet);
    font-weight: 600;
}
#footer .footer-row .col ul li a:hover{
    text-decoration: underline;
}
#footer::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(images/bg-pattern-footer-desktop.svg) no-repeat;
    z-index: -1;
}
/* FOOTER END */
/* Responsive start */
/* Table view start */
@media(max-width:1000px) {
    /* body{
        display: none;
    } */
     .line{
        display: none;
     }
    #home{
        height: auto;
    }
    #home .container{
        padding: 0;

    }
    #home .home-content{
        flex-direction: column-reverse;
        gap: 0;
        padding-top: 0;
    }
    #home .home-content .content-left{
        padding: 5rem 2rem;
        text-align: center;

    }
    #home .home-content h1{
        margin-top: 0;
    }
    #how-we-work{
        text-align: center;
    }
    #how-we-work .line{
        display: block;
        margin: auto;
    }
    #how-we-work .row{
        grid-template-columns: 1fr;
    }
    #card .row{
        flex-direction: column;
        text-align: center;

    }
    #card .row h2{
        line-height: 1;
        margin-bottom: 25px;    
    }
    #footer .footer-row{
        grid-template-columns: repeat(2,1fr);
    }
}
/* Table view end */
/* Mobile view start */
@media(max-width:650px) {

    .humburger{
        display: block;
    }
    .humburger .bars, .humburger .xMark{
        display: none;
    }
    .humburger .bars.active, .humburger .xMark.active{
        display: block;
    }
    
    #navbar nav ul{
        position: absolute;
        top: 80px;
        z-index: 1;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--dark-violet);
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }
    #navbar nav ul.active{
        opacity: 1;
        visibility: visible;
    }
    #navbar nav ul li a{
        display: inline-block;
        color: var(--light-gray);
        margin: 15px 0;
        /* background-color: yellowgreen; */
    }
    #navbar nav ul li a:hover{
        color: var(--light-gray);
    }
    #navbar nav ul li:last-child a{
        color: var(--light-gray);
        border: 1px solid var(--light-gray);
    }
    #home .home-content h1{
        font-size: 45px;
    }
    #how-we-work h2{
        font-size: 40px;
        margin-top: 5px;
    }
    #card .row h2{
        font-size: 40px;
    }
    #footer .footer-header{
        flex-direction: column;
        /* background-color: turquoise; */
    }
    #footer .footer-header ul{
        margin-top: 20px;
    }
    #footer .footer-row{
        grid-template-columns: 1fr;
        text-align: center;
    }
}
/* Mobile view end */
/* Responsive end */

/* @media(max-width:1000px){
    body{
        display: none;
    }
} */